@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.my-nav {
    box-shadow: 0 1px 50px 0;
}

.nav-logo {
    width: 35px;
}

.navbar-toggler:hover {
    transform: translateY(5px);
}

.navbar-toggler:focus {
    outline: none;
}

.banner-bg-container {
    background-image: url('https://img.freepik.com/free-photo/fresh-gourmet-meal-beef-taco-salad-plate-generated-by-ai_188544-13382.jpg?w=1380&t=st=1712054304~exp=1712054904~hmac=b6ade25c19d6a63a1d883a0ae25e4bf052f7bbf4c16c36d4e87db40bc0976e21');
    height: 100vh;
    background-size: cover;
    padding-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 300;
}

.banner-caption {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 1px 1px red;
}

.banner-image {
    width: 200px;
    height: 200px;
}

.banner-button {
    padding: 17px 40px;
    color: #ffffff;
    background-color: transparent;
    font-size: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    letter-spacing: 1.5px;
}

.banner-button:hover {
    letter-spacing: 3px;
    background-color: #dc5d19;
    box-shadow: #dc5d19 0px 7px 29px 0px;
    border-color: #dc5d19;
}

.banner-button:active {
    transform: translateY(10px);
}

.banner-button:focus {
    outline: none;
}

.banner-card {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 12px;
    cursor: pointer;
}

.banner-card:hover {
    transform: translateY(5px);
}

.banner-card-title {
    color: #222;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
}

.banner-card-caption {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 8px;
}

.discount-section {
    background-image: url('https://cdn.fooddarzee.com/assets/images/yellow_wagebg.svg');
    background-size: cover;
    height: 100%;
}

.ds-heading {
    font-size: 14px;
}

.ds-caption {
    font-size: 10px;
    color: #5a7184;
}

.coupon-code {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #6639e3;
    text-align: center;
    opacity: .9;
}

.coupon-heading {
    color: #ffffff;
    font-size: 18px;
}

.offer-card {
    border-radius: 4px;
    background-color: #6639e3;
    opacity: .4;
}

.offer-caption {
    color: #ffffff;
    font-size: 10px;
}

.offer-heading {
    color: #ffffff;
    font-size: 24px;
}

.discount-button {
    padding: 10px 20px;
    color: #222222;
    border-style: solid;
    font-size: 10;
    background-color: #ffffff;
}

.hiw-bg-container {
    background-color: #fcfceb;
    height: 100%;
}

.hiw-heading {
    font-size: 14px;
}

.hiw-caption {
    font-size: 10px;
    color: #5a7184;
}

.hiw-cards {
    background-color: #ffffff;
    border-radius: 4px;
}

.hiw-cards-image {
    height: 30px;
}

.about-section {
    background-color: #fcfceb;
    height: 100%;
}

.about-caption {
    font-size: 10px;
    color: #5a7184;
}

.about-caption-heading {
    color: #222222;
    font-weight: bold;
}

.about-image-card {
    height: 40px;
    background-size: cover;
    border-radius: 4px;
    transition: .4s;
    margin-bottom: 2px;
    background-position: center;
}

.card-1 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzNfZDVhOWY0NjNjYy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE2MDAsImZpdCI6Imluc2lkZSJ9fX0=');
}

.card-2 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzJfOTNhOTdjNDZmYS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE2MDAsImZpdCI6Imluc2lkZSJ9fX0=');
}

.card-3 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzFfMzIyYTVhYjU5Zi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE2MDAsImZpdCI6Imluc2lkZSJ9fX0=');
}

.card-4 {
    background-image: url('https://media.istockphoto.com/id/1054857118/photo/keto-word-made-from-ketogenic-food.jpg?s=612x612&w=0&k=20&c=B_nQK84_EVbAbjqg9SBa9Vaqhz81ihel2sbDx1yKjvs=');

}

.card-5 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjExMDB4NjAwX0FobWFkX2ZpZ3VyXzVhYzIyYTU5NmUuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjpudWxsLCJoZWlnaHQiOm51bGwsImZpdCI6bnVsbH19fQ==');
}

.card-6 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IkhJV19EQUlCRVRFU18wMV8yXzE0NWZiYjY5ZWEuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjpudWxsLCJoZWlnaHQiOm51bGwsImZpdCI6bnVsbH19fQ==');
}

.card-7 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6ImRpYWJldGVzXzFfMV9mMDRkZDY3NWQyLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6bnVsbCwiaGVpZ2h0IjpudWxsLCJmaXQiOm51bGx9fX0=');
}

.card-8 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IkhJV19EQUlCRVRFU18wMl8yX2I2M2ZmZDU5ZjAuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjpudWxsLCJoZWlnaHQiOm51bGwsImZpdCI6bnVsbH19fQ==');
}

.card-heading {
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
}

.about-image-card:hover {
    height: 120px;
}

.about-button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: black;
    font-size: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    letter-spacing: 1px;
}

.about-button:hover {
    letter-spacing: 2px;
    background-color: #dc5d19;
    box-shadow: #dc5d19 0 7px 29px 0;
    border-color: #dc5d19;
}

.about-button:focus {
    outline: none;
}

.menu-section {
    background-color: #fcfceb;

}

.menu-heading {
    font-size: 12px;
    list-style: none;
    color: #5a7184;
    cursor: pointer;
}

.menu-heading:hover {
    color: #222222;
}

.menu-heading-active {
    border-bottom: 3px solid #cfbe0a;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.card {
    width: 230px;
    background-color: white;
    padding: 16px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 16px;
    font-family: "Open Sans";
    font-size: 16px;
}

.card-background-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
}

.keto-bg-image-1 {
    background-image: url("https://www.yummytummyaarthi.com/wp-content/uploads/2022/07/chicken-shawarma-step-by-step-18.jpeg");
}

.keto-bg-image-2 {
    background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzVfZjI0NmQ2MjNmYi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=");
}

.keto-bg-image-3 {
    background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzZfODk4MTg2MTkwMC5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=");
}

.keto-bg-image-4 {
    background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzdfZTIzNjM1MDM0Yi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=");
}

.keto-bg-image-5 {
    background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzhfMTBiOGE2ZjVmYi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=");
}

.keto-bg-image-6 {
    background-image: url("https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzlfYTZiZjY0MWEzZi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=");
}

.lc-bg-image-1 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzEwXzQ4ZTM0NWQ5MmQucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.lc-bg-image-2 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzExXzhkYmIwM2FhMjcucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.lc-bg-image-3 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzEyXzBkMDczMzVhMWIucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.lc-bg-image-4 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzEzXzVlMWEwNDdkNzAucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.lc-bg-image-5 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE0XzMyMDhiNjllZmYucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.lc-bg-image-6 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE2XzBkNGJlYjQzM2QucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.bal-bg-image-1 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE3X2IzYTkwMTY2MDgucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.bal-bg-image-2 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE4X2NmNjg1YTI4N2MucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.bal-bg-image-3 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE5Xzk3ZjMwNDRjNWQucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.bal-bg-image-4 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzIwXzgzZjhjM2YwZjYucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.bal-bg-image-5 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzNfZDVhOWY0NjNjYy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.bal-bg-image-6 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzFfMzIyYTVhYjU5Zi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.veg-bg-image-1 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzIxXzdhN2NkOWZhNDUucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.veg-bg-image-2 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzIzX2Q5ZGEyMjM1YTcucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJoZWlnaHQiOjYwMCwiZml0IjoiY292ZXIifX19');
}

.veg-bg-image-3 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjJfZTA1MDgzMGE3Mi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.veg-bg-image-4 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjRfYWFiMjA2ZDZhMy5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.veg-bg-image-5 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjZfNWVhZDNhM2Y3MC5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.veg-bg-image-6 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjVfNjhlN2VmMDY3MC5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.veg-bg-image-7 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjFfZTUzYjgxNjQzMi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6NjAwLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.card-description {
    font-size: 16px;
    color: #594d6d;
}

.badge {
    background-color: #f7941d;
    color: white;
    padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-left: 15px;
    font-size: 12px;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #659ebc;
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.product-name {
    font-weight: 700;
}

.card-footer-container {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: white;
    font-size: 22px;
}

.display-menus {
    display: none;
}

.shop-now-section {
    background-color: #f7f8fa;
}

.shopping-cards-container {
    display: flex;
    overflow-y: auto;
}

.shopping-bg-image-1 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IjFfMzBmZjVlNWQzZi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM1MiwiaGVpZ2h0IjozNTIsImZpdCI6ImNvdmVyIn19fQ==');
}

.shopping-bg-image-2 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IkJha2VkX0RhcnplZV8xMV8zZDU0Y2RmMTMzLmpwZWciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM1MiwiaGVpZ2h0IjozNTIsImZpdCI6ImNvdmVyIn19fQ==');
}

.shopping-bg-image-3 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6ImJyb3duaWVzNF9kYTYxNGI4MmY0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzUyLCJoZWlnaHQiOjM1MiwiZml0IjoiY292ZXIifX19');
}

.shopping-bg-image-4 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzE1X2IwNjJhNWRjN2QucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjozNTIsImhlaWdodCI6MzUyLCJmaXQiOiJjb3ZlciJ9fX0=');
}

.shopping-bg-image-5 {
    background-image: url('https://img.fooddarzee.com/eyJidWNrZXQiOiJmb29kZGFyemVlLWltYWdlcyIsImtleSI6IlVudGl0bGVkXzVfZjI0NmQ2MjNmYi5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM1MiwiaGVpZ2h0IjozNTIsImZpdCI6ImNvdmVyIn19fQ==');
}

@media(min-width:768px) {
    .banner-heading {
        font-size: 45px;
        margin-bottom: 30px;
    }

    .banner-caption {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .banner-button {
        font-size: 15;
    }

    .banner-card-title {
        font-size: 24px;
    }

    .banner-card-caption {
        font-size: 16px;
    }

    .ds-heading {
        font-size: 40px;
    }

    .ds-caption {
        font-size: 26px;
    }

    .coupon-heading {
        font-size: 28px;
    }

    .offer-caption {
        font-size: 16px;
    }

    .offer-heading {
        font-size: 28px;
    }

    .hiw-cards {
        width: 180px;
    }

    .hiw-heading {
        font-size: 32px;
    }

    .hiw-caption {
        font-size: 16px;
    }

    .hiw-cards-image {
        width: 50px;
    }

    .about-caption {
        font-size: 26px;
    }

    .about-image-card {
        height: 100px;
    }

    .about-image-card:hover {
        height: 280px;
    }

    .card-heading {
        font-size: 39px;
    }

    .about-caption-heading {
        font-size: 26px;
    }

    .about-button {
        font-size: 16px;
    }

    .menu-heading {
        font-size: 30px;
    }

    .menu-heading-active {
        border-bottom: 8px solid #cfbe0a;

    }
}